<%= render 'shared/tab' %>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-wrap -m-4">
      <%= render "tools/default_tools", tools: @tools %>
    </div>
  </div>
</section>
