<div class="p-4 md:w-1/4 sm:w-1/2 w-full">
    <div class="border-2 border-yellow-500 px-8 py-10 rounded-lg">
      <% if fight.user.profile %>
        <%= image_tag fight.user.profile.avatar.url, class: "mx-auto w-20 h-20 border-gray-200 rounded-full" %>
      <% else %>
        <i class="fa-solid fa-user w-10 h-10 rounded-full p-4 mx-2 bg-neutral-400"></i>
      <% end %>
        <h2 class="title-font font-medium my-4 text-3xl text-gray-900"><%= fight.user.name %></h2>
        <p class="leading-relaxed my-4"><%= l fight.created_at %></p>
        <%= render 'fights/support_button', {fight: fight} %>
    </div>
</div>
