  <%= link_to guest_login_path, data: { "turbo-method": :post } do %>
    <button class="flex mx-auto mt-20 text-white bg-yellow-500 border-0 py-2 px-8focus:outline-none hover:bg-yellow-600 rounded text-lg">はじめる</button>
  <% end %>
  <% if logged_in? %>
    <%= render 'shared/fight_button'%>
  <% end %>
