  <div dir = "rtl">
      <%= button_to "対策方法を知る", explanation_path, method: :get, class: "btn btn-md md:btn-md mx-4 lg:btn-lg btn-secondary w-32 h-32 fixed bottom-10 start-10 z-50 m-5 " if logged_in? %>
  </div>
