  <div dir = "rtl">
    <% if current_user.fights.where(status: 1).present? %>
      <%= button_to t('defaults.fight_off'), fight_path(current_user), method: :patch, class: "w-32 h-32 fixed bottom-10 start-10 z-50 m-5 text-white bg-yellow-400 border-4 border-yellow-600 py-4 px-8 focus:outline-none hover:bg-yellow-600 rounded-full text-xl " %>
    <% else %>
      <%= button_to t('defaults.fight_on'), fights_path, method: :post , class: "w-32 h-32 fixed bottom-10 start-10 z-50 m-5 text-white bg-yellow-400 border-4 border-yellow-600 py-4 px-8 focus:outline-none hover:bg-yellow-600 rounded-full text-xl animate-bounce" %>
    <% end %>
  </div>
