<div class = "invisible md:visible fixed bottom-10 start-10 z-50 m-5 mx-4">
  <% unless current_user.profile %>
    <div class="tooltip tooltip-open tooltip-right tooltip-info" data-tip="プロフィールを登録すると「家屋のタイプ」,「築年数」,「階数」やご自身のアバターを登録できるようになります！">
      <%= link_to "プロフィールを登録する", new_profile_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<div class = "md:invisible fixed bottom-10 start-2 z-50 m-5">
  <% unless current_user.profile %>
    <%= link_to "プロフィールを登録する", new_profile_path, class: "btn btn-sm btn-primary" %>
  <% end %>
</div>
