<% if logged_in? %>
  <div class="flex flex-col text-center w-full mb-2">
    <h1 class="sm:text-3xl text-2xl font-medium title-font my-4 text-gray-900">害虫対策一覧</h1>
  </div>
  <p>現在退治中のユーザーはいません</p>
<% else %>
  <div class="w-full mt-12 mb-20">
    <h1 class="text-center title-font sm:text-4xl text-3xl mt-6 mb-6 py-10 font-medium text-gray-900">ログインしてください</h1>
    <div class="flex flex-col text-center">
      <%= button_to "ログイン画面へ", login_path, class: "inline-flex text-white bg-yellow-500 border-0 py-2 px-6 mt-4 mb-10 focus:outline-none hover:bg-yellow-600 rounded text-lg", method: :get %>
      <%= button_to "ゲストとして始める", guest_login_path, class: "inline-flex text-white bg-yellow-500 border-0 py-2 px-6 mt-4 mb-10 focus:outline-none hover:bg-yellow-600 rounded text-lg", method: :post %>
    </div>
  </div>
<% end %>
