
<div class="container my-24 mx-auto md:px-6 text-neutral-focus">
  <section class="mb-32">
    <h2 class="my-16 text-center text-3xl font-bold">害虫対策を投稿しましょう！</h2>
    <div class="mb-16 flex flex-wrap">
      <div class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pr-6">
        <div
          class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init data-te-ripple-color="light">
          <div class="mockup-window border bg-base-300">
            <div class="flex justify-center px-4 py-16 bg-base-200">
              <%=image_tag "goki_screen_1" %>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pl-6">
        <h3 class="mb-4 text-2xl font-bold">STEP1: 適切な害虫対策を診断しましょう</h3>
        <p class="mb-6 text-neutral-500 ">
          いくつかの質問に回答して適切な害虫対策を診断しましょう
        </p>
      </div>
    </div>
    <div class="mb-16 flex flex-wrap lg:flex-row-reverse">
      <div class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pr-6">
        <div
          class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init data-te-ripple-color="light">
          <div class="mockup-window border bg-base-300">
            <div class="flex justify-center px-4 py-16 bg-base-200">
              <%=image_tag "goki_screen_2" %>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pl-6">
        <h3 class="mb-4 text-2xl font-bold">STEP2: 診断テスト結果をもとに害虫対策をしましょう。</h3>
        <p class="mb-6 text-neutral-500 ">
          診断の点数を元にあなたに合った害虫対策法とおすすめ対策グッズを紹介します。
        </p>
      </div>
    </div>
    <div class="mb-16 flex flex-wrap">
      <div class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pr-6">
        <div
          class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init data-te-ripple-color="light">
          <div class="mockup-window border bg-base-300">
            <div class="flex justify-center px-4 py-16 bg-base-200">
              <%=image_tag "goki_screen_3" %>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pl-6">
        <h3 class="mb-4 text-2xl font-bold">STEP3: 自分の害虫対策をみんなとシェアしましょう。</h3>
        <p class="mb-6 text-neutral-500 ">
          診断結果を参考にして害虫対策をしましょう。実際に害虫対策をしていなくても、診断結果などをシェアするだけでもOK!
        </p>
      </div>
    </div>
    <div class="mb-16 flex flex-wrap lg:flex-row-reverse">
      <div class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pr-6">
        <div
          class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init data-te-ripple-color="light">
          <div class="mockup-window border bg-base-300">
            <div class="flex justify-center px-4 py-16 bg-base-200">
              <svg xmlns="http://www.w3.org/2000/svg" height="5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"/></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pl-6">
        <h3 class="mb-4 text-2xl font-bold">STEP4: X(Twitter)で共有しよう</h3>
        <p class="mb-6 text-neutral-500 ">
          診断結果が出たらX(Twitter)で共有しましょう。
        </p>
      </div>
    </div>
    <div class = "mx-auto flex justify-center">
      <%= button_to "診断テストを受ける", content_path, method: :get, class: "btn btn-lg btn-neutral-focus " %>
    </div>
  </section>
</div>
