<% flash.each do |error_type, message| %>
  <% if error_type == "success" %>
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
      <span class="font-medium"><%= message %></span>
    </div>
  <% elsif error_type == "error" %>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <span class="font-medium"><%= message %></span>
    </div>
  <% elsif error_type == "warning" %>
    <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
      <span class="font-medium"><%= message %></span>
    </div>
  <% elsif error_type == "info"%>
    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
      <span class="font-medium"><%= message %></span>
    </div>
  <% end %>
<% end %>
