<header class="text-gray-600 body-font border-b">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to root_path, class:'flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0' do %>
      <%= image_tag "goki_logo.png", class: 'w-30 h-10'%>
    <% end %>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <%= link_to "ゴキブリ対策", posts_path, class: "mr-5 hover:text-gray-900"%>
    </nav>
    <%= link_to 'ログアウト', logout_path, class: 'inline-flex items-center text-white bg-yellow-500 border-0 py-1 px-3 focus:outline-none hover:bg-yellow-600 rounded text-base mt-4 mx-3 md:mt-0', data: { turbo_method: :delete } %>
  </div>
</header>
