<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <% if @posts.present? %>
	      <%= render @posts %>
      <% else %>
      	<p>ゴキブリ対策が存在しません</p>
      <% end %>
    </div>
  </div>
</section>
