<!-- person - start -->
        <div class="card flex flex-col bg-base-100 items-center p-4 rounded-lg">
            <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-100 shadow-lg md:mb-4 md:h-32 md:w-32">
                <% if fight.user.profile %>
                  <%= image_tag fight.user.profile.avatar.url, class: "mx-auto w-32 h-32 border-gray-200 rounded-full" %>
                <% else %>
                  <i class="fa-solid fa-user w-24 h-24 rounded-full p-4 mx-auto bg-neutral-400"></i>
                <% end %>
            </div>
            <div>
                <div class="text-center font-bold text-gray-800 md:text-lg"><%= fight.user.name %></div>
                <p class="mb-3 text-center text-sm text-gray-500 md:mb-4 md:text-base"><%= l fight.created_at %></p>
    <!-- social - start -->
                <div class="flex justify-center">
                    <div class="flex gap-4">
                      <%= render 'fights/support_button', fight: fight %>
                    </div>
                </div>
            <!-- social - end -->
            </div>
        </div>
<!-- person - end -->
