<aside>
  <div class="h-full py-8 overflow-y-auto bg-base-200 border-l border-r sm:w-64 w-60">
    <h1 class="px-5 text-2xl text-center font-medium text-gray-800">退治中のユーザー</h1>
    <div class="mt-8 space-y-4">
        <div id = "sideber"></div>
        <% fights.each do |fight| %>
          <button class="flex items-center w-full px-5 py-2 transition-colors duration-200 gap-x-2 ">
            <% if fight.user.profile %>
                  <%= image_tag fight.user.profile.avatar.url, class: "object-cover w-8 h-8 rounded-full" %>
                <% else %>
                  <i class="fa-solid fa-user w-8 h-8 rounded-full p-2 bg-neutral-400"></i>
                <% end %>
            <div class="text-left rtl:text-right">
                <h1 class="text-sm font-medium text-gray-700 capitalize"><%= fight.user.name %></h1>
                <p class="text-xs text-gray-500 "><%= l fight.user.created_at %></p>
            </div>
          </button>
        <% end %>
    </div>
  </div>
</aside>
